<%- include header.ejs %>

<section class="hero">
  <%- include nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 hero-content-wrapper">
        <div class="hero-content">
          <h1>Epsilon Jukebox</h1>
          <hr>
          <p>
            Your online music playlist
            <br>Socialized.</p>
          <br>
          <a class="button inverted download">
            Download 0.10 <i class="icon-down-bold"></i>
          </a>
          <br>
          <div class="compatibility">
            Compatible with:
            <span class="platform">
              <%= platform %></span>
          </div>
        </div>
      </div>
      <div class="col-sm-8 demo-wrapper">
        <img class="demo unentered" src="img/jb-demo.png"></div>
    </div>
  </div>

</section>

<section id="features" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Your Social Jukebox</h2>
        <div class="row feature">
          <div class="col-sm-12">
            <img class="thumb" src="/img/share-thumb.png">
            <div class="content">
              <h3>Show others your playlist</h3>
              <p>
                Whether you’re hosting an awesome party or playing music at your restaurant or store, enhance the experience by sharing what’s on your playlist
              </p>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="row feature">
          <div class="col-sm-12">
            <img class="thumb" src="/img/voting-thumb.png">
            <div class="content">
              <h3>Let others choose the next song</h3>
              <p>
                Socialize the experience by letting your friends or customers vote for the upcoming song. You’ve just made their time that much cooler!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="fill" src="/img/drag-drop-demo.png"></div>
    </div>
  </div>
</section>

<section id="guide" class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>How it works</h2>
      </div>
    </div>
    <div class="row line">
      <div class="col-md-6">
        <div class="step-heading">
          <svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="19.5" x2="39" y2="19.5">
              <stop  offset="0" style="stop-color:#29A5DC"/>
              <stop  offset="1" style="stop-color:#0071B6"/>
            </linearGradient>
            <circle fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" cx="19.5" cy="19.5" r="19"/>
          </svg>
          <span>1</span>
        </div>
        <div class="step-content">
          <h3>Download &amp; Register</h3>
          <p>
            Download the Epsilon Jukebox &amp; get your FREE epsilon hub account<br><br>
            <a class="button download grey inverted">download 0.10 <i class="icon-down-bold"></i></a>&nbsp; &nbsp; &nbsp;
            <a class="button link orange inverted">or register here <i class="icon-right-bold"></i></a>
            <br>
            <div class="compatibility">
              Compatible with:
              <span class="platform">
                <%= platform %></span>
            </div>
          </p>
        </div>
      </div>
      <div class="col-md-6 step-illustration">
        <img src="img/step-1-prev.png">
      </div>
    </div>
    <div class="row line">
      <div class="col-md-6">
        <div class="step-heading">
          <svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="19.5" x2="39" y2="19.5">
              <stop  offset="0" style="stop-color:#29A5DC"/>
              <stop  offset="1" style="stop-color:#0071B6"/>
            </linearGradient>
            <circle fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" cx="19.5" cy="19.5" r="19"/>
          </svg>
          <span>2</span>
        </div>
        <div class="step-content">
          <h3>Drop &amp; Share</h3>
          <p>
            Drop a folder containing your music files into the App and share your playlist at the click of a button.
          </p>
        </div>
      </div>
      <div class="col-md-6 step-illustration">
        <img src="img/step-2-prev.png">
      </div>
    </div>
    <div class="row line last">
      <div class="col-md-6">
        <div class="step-heading">
          <svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="19.5" x2="39" y2="19.5">
              <stop  offset="0" style="stop-color:#29A5DC"/>
              <stop  offset="1" style="stop-color:#0071B6"/>
            </linearGradient>
            <circle fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" cx="19.5" cy="19.5" r="19"/>
          </svg>
          <span>3</span>
        </div>
        <div class="step-content">
          <h3>Access</h3>
          <p>
            People can access and vote on your Epsilon Jukebox through the epsilon.mu hub or Epsilon Play and using the access code shown in your Epsilon App.
            <br><br>
            <a class="button link inverted orange">epsilon.mu hub <i class="icon-right-bold"></i></a>&nbsp;&nbsp;&nbsp;
            <a class="button link inverted orange">epsilon play <i class="icon-right-bold"></i></a>
          </p>
        </div>
      </div>
      <div class="col-md-6 step-illustration">
        <img src="img/step-3-prev.png">
      </div>
    </div>
  </div>
</section>

<footer></footer>

<%- include footer.ejs %>
